# Devenv
.devenv
.direnv
.pre-commit-config.yaml

# Terragrunt
.terragrunt-cache
.terragrunt-stack

# OpenTofu/Terraform
.terraform
*.tfstate
*.tfstate.backup
*.tfstate.lock.info

# Node
node_modules
.releases
.github/node_modules
.github/.releases
