name: commitlint

on:
  pull_request:
    types: [opened, synchronize, reopened, edited]

jobs:
  lint-commits:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 20
      - name: Install dependencies
        run: npm install --prefix .github
      - name: Lint commits
        run: npx --prefix .github commitlint --config .github/commitlint.config.cjs --from ${{ github.event.pull_request.base.sha }} --to ${{ github.event.pull_request.head.sha }}
